* {margin: 0; padding: 0; }
#root{
  height: 100%;
  max-width: 1300px;
  row-gap: 20px;
}
.cards{
    height: 330px;
    width: 580px;
    border: 1px solid black;
    display: flex;
    margin-top: 20px;
}
.img{
   max-width: 200px;
   max-height: 200px;
}
.element_of_cards{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 60px;
    font-size: large;
}
.name{
    color: black;
}
.salary{
    color: black;
}
.id{
    color: black;
}