
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frame {
  width: 500px;
  height: 500px;
  border: 3px solid rgb(255, 140, 159);
  position: relative;
  /* overflow: hidden; */
}
.cards {
    display: grid;
    border: 10px solid black;
    grid-auto-flow: column;
    position: absolute;
}
.card {
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
}