
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frame {
  width: 500px;
  height: 500px;
  border: 3px solid rgb(255, 140, 159);
  position: relative;
  /* overflow: hidden; */
}
.cards {
    display: grid;
    border: 10px solid black;
    grid-auto-flow: column;
    position: absolute;
    transition: left 0.5s ease;
}
.card {
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
}
.triggers {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.triggers button {
  width: 50px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}
.triggers button:hover {
  opacity: 1;
}