h1 {
    padding-left: 594px;
    font-family: 'Rubik Pixels', cursive;
    font-size: 60px;
    position: fixed;
    top: 0;
    max-width: 1735px;

}
.name {
    background-color: white;
}

html,
body {
    height: 100%;
    width: 1725px;
}
* {
    margin: none;
    padding: none;
}
.up_menu {
    grid-area: up_menu;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news {
    grid-area: news;
}
.content {
    grid-area: content;
}
.sidebar {
    grid-area: sidebar;
}
.footer {
    grid-area: footer;
}
.container {
    display: grid;
    grid-template-columns: 180px 1fr 350px;
    grid-template-rows: 100px 1fr 200px;
    gap: 1rem;
    grid-template-areas: 
    " up_menu up_menu up_menu"
    "content content sidebar"
    "footer footer sidebar";
    height: 1000px;
    background-color: azure;
}
div {
    background-color: antiquewhite;
}
a {
    margin: 20px 100px 20px 100px;
    text-decoration: none;
    color: rgb(125, 103, 103);
    font-size: 30px;
}
.imgcover {
    z-index: -1;
    width: 1326px;
    height: 1400px;
    opacity: 0.3;
}
.project {
    margin-top: 16rem;
    min-width: 800px;
}

